/* Container structure ----------------------------------------------------------------- */

.foodMenuContainer {
  scroll-margin-top: 60px;
  min-height: calc(100vh - 60px);
  background-color: #2f1b12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  padding: 0 50px;
}

/* Text style ----------------------------------------------------------------- */

.foodMenuContainer * {
  color: #f4e1bd; /* All text yellow */
  margin-top: 0;
}

/* Header ----------------------------------------------------------------- */

.foodMenuHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* Img style ----------------------------------------------------------------- */

.foodMenuContainer img {
  margin: 20px;
}

/* List spacing ---------------------------------------------------------------- */

.foodMenuGrid li {
  max-width: 400px;
}



/* Media -------------------------------------------------------------------------- */


@media only screen and (max-width: 900px) {
  
  .foodMenuContainer {
    height: auto;
    min-height: calc(100vh - 60px);
    padding: 50px 40px;
  }

}