/* Container structure ----------------------------------------------------------------- */

.orderListContainer {
  display: grid;
  /* grid-template-rows: 1.3fr 1fr 1fr 1fr; */
  row-gap: 10px;
  margin-bottom: 50px;
  /* padding: 0 50px; */
}

/* Header ----------------------------------------------------------------- */

.orderListHeader {
  display: grid;
  grid-template-columns: 1.7fr 1.3fr 1.3fr;
}

/* Body --------------------------------------------------------------------- */

.orderListFresh,
.orderListAged,
.orderListSpicy {
  display: grid;
  grid-template-columns: 1.7fr 1.3fr 1.3fr;
}

.orderContainer h3 {
  margin-bottom: 20px;
}

/* .orderPrice {
  display: flex;
} */

.orderPrice h4 {
  text-align: right;
}

.orderSize {
  text-align: right;
}

.soldOut {
  /* color: red; */
  text-decoration-line: line-through;
  text-decoration-thickness: 2px;
}

.soldOut::after{
  content: " (sold out)";
  color: red;
  display: inline-block;
  text-decoration-line: unset;
  text-decoration-thickness: 0;
}

/* .qtyInput {
  width: 70px;
  margin-left: 40px;
} */
